<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Server | NodeJS Tutorials</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="content">
        <h1>Content Heading</h1>
        <p>
          content Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla
          beatae, magnam tempora ducimus hic provident accusantium nobis harum
          iusto optio impedit at inventore dicta voluptate, et deserunt,
          sapiente molestias odit facere? Culpa sed sapiente corrupti quae,
          soluta alias facere eveniet?
        </p>
      </div>
      <div class="content">
        <h1>Content Heading</h1>
        <p>
          content Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla
          beatae, magnam tempora ducimus hic provident accusantium nobis harum
          iusto optio impedit at inventore dicta voluptate, et deserunt,
          sapiente molestias odit facere? Culpa sed sapiente corrupti quae,
          soluta alias facere eveniet?
        </p>
      </div>
    </div>
  </body>
</html>
